body {
  margin: 0;
  font-family: "Tahoma", sans-serif;
  background-color: #e6f4ea; /* أخضر فاتح */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  direction: rtl;
}

.container {
  text-align: center;
  background-color: #ffffff;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 100, 0, 0.1);
  width: 90%;
  max-width: 400px;
}

.title {
  color: #2e7d32;
  margin-bottom: 10px;
}

.logo {
  width: 100px;
  height: auto;
  margin-bottom: 20px;
}

.user-type {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.btn {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
}

.btn:hover {
  background-color: #388e3c;
}

.login-form input {
  display: block;
  width: 90%;
  margin: 10px auto;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.login {
  margin-top: 10px;
  width: 95%;
}